<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCg_k4qLWJojHyztMZvFjEIQ0afgC0nJho</string>
	<key>GCM_SENDER_ID</key>
	<string>400547297195</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatterbox</string>
	<key>PROJECT_ID</key>
	<string>chatterbox-2fc7b</string>
	<key>STORAGE_BUCKET</key>
	<string>chatterbox-2fc7b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:400547297195:ios:73126b8478541fe3d944ee</string>
	<key>DATABASE_URL</key>
	<string>https://chatterbox-2fc7b-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>